/* ==========================================================================
   Default styles
   ========================================================================== */

body {
  background: #e8eae9;
  color: #666;
  font: 14px/24px "Droid Sans", Arial, "Helvetica Neue", "Lucida Grande", sans-serif;
  margin: 0;
  text-shadow: 0 1px 0 #fff;
  
}
a {
  color: #8ec63f;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
       -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}
a:hover {
  color: #f7941d;
}

section {
  margin: 0 auto;
  width: 450px;
}

h1, h2, h3, h4, h5, h6 {
  color: #404853;
}